@charset "utf-8";

/*font-sizeを16px以上にしたらiOSでは入力時に拡大されない。Androidは知らん*/

.title { /*報告状況入力*/
    font-family: Impact;
    font-weight: bold;
    font-size: 30px;
    color: #364e96; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
}

.font { /*報告種別・内容*/
    font-size: 25px;
    font-family: YuGothic;
}

.required { /*必須*/
    padding: 0.2rem;
    font-size: 25px;
    color: red;
    border: solid 1px red;
    border-radius: 5px;
}

.any { /*任意*/
    padding: 0.2rem;
    font-size: 1.5rem;
    color: gray;
    border: solid 1px black;
    border-radius: 5px;
}

.box {
    height: 50px;
    width: 360px;
    font-size: 16px;
    font-family: YuGothic;
}

.textarea {
    border: 2px solid gray; /*枠線の太さと線の色*/
    /*padding: 0.2rem; !*よくわからん*!*/
    width: 98%;
    height: 6em;
    font-size: 16px; /*入力するfontsize*/
    color: black; /*入力するfontcolor*/
}

.square_btn { /* 報告する*/
    margin-top: 2em;
    display: inline-block;
    background: crimson; /*色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
    width: 130px;
    height: 44px;
    /*--font--*/
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

.square_btn:active { /*押したとき*/
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

div {
    text-align: center;
}

label > input {
    display: none;
}

#upload {
    width: 100px;
    height: 150px;
    line-height: 35px;
    border-radius: 10px;
    color: #fff;
    background-color: #4385bf;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
}

#results {
    border: 1px solid #4385bf;
    background-color: #bbd4ea;
    widht: 100px;
    height: 150px;
    padding: 5px;
    margin: 10px 0;
}

#results img {
    border: 1px solid #000;
    margin: 0 5px 0 0;
}

/*----MAP------*/
.map_p {
    text-align: center;
}

.accbox { /*ボタン自体の設定*/
    margin: 2em 0;
    padding: 0;
    max-width: 400px;
}

.accbox label {
    height: 44px;
    border-radius: 10px 10px 0 0; /*ボタンの丸み*/
    display: block;
    padding: 10px;
    margin-top: 2em;
    background: #364e96;
    cursor: pointer;

    color: white;
    font-size: 30px;
    font-family: Marion;
}

.accbox label:hover { /*開いてる時のbutton color*/
    background: #364e96;
}

.accbox input {
    display: none;
}

.accbox .accshow { /*中身*/
    height: 36px;
    padding: 5px;
    overflow: hidden;
    opacity: 0; /*透明度*/
    transition: 0.8s;
}

.cssacc:checked + .accshow {
    height: 446px;
    padding: 5px;
    background: #364e96;
    border-radius: 0 0 9px 9px;
    opacity: 1;
}